# Задание 1

Речевой акт  - **обещание**<br\>
**Условие успешности** - это выполненное обещание.
Например, “я обещаю, что куплю тебе велосипед” — условие успешности — купленный велосипед.<br\>
**Иллокутивный акт** —  намерение говорящего 
Намерение говорящего при обещании - уведомить и убедить слушающего, что говорящий что-то сделает. Например, уведомить слушающего в своих намерениях купить ему велосипед.

Здесь важно различать обещание и простой акт утверждения. Намерение говорящего, произносящего утверждение, тоже заключается в том, чтобы уведомить слушателя. Но мне кажется, большая разница в том, что в ситуации, в которой слушатель слышит обещание, слушатель должен быть заинтересован в намерении говорящего или причастен к нему.
Например, если говорящий, друг, говорит, что он через год купит машину, слушателя это может никак не касаться, и это будет утверждением, как “за окном идет дождь”. А в ситуации, когда говорящий обещает, что он купит машину, слушатель должен быть в этой машине заинтересован. Например, друг занял говорящему денег для покупки и ждет их обратно, или слушающему нужно, чтобы его подвозили.

**Перлокутивный акт** - результат реализации намерения, в данном случае намерения сообщить информацию. Как результат - слушатель уведомлен, он принял информацию, что через год у его друга будет машина.

**Языковые средства реализации**:
1) интонационные: восклицание “я тебе клянусь, что брошу курить! “, повествование “я обещаю, что куплю тебе велосипед”, может быть еще вопросительное, например человек падает на колени и говорит “ну хочешь я кровью поклянусь, что я на тебе женюсь??” - так выражается обещание жениться.<br\>
2) наклонение: обычно намерительное “да точно, точно, куплю я тебе этот велосипед”
Также индикатив “Я обещаю купить тебе велосипед”, и, как мне кажется, желательное “Куплю-ка я тебе велосипед”.<br\>
3) частицы<br\>
частица -ка “куплю-ка я тебе торт” <br\>
восклицательная частица как “вот как куплю я тебе велосипед, так мы и заживем”<br\>
утверждение “точно куплю тебе велосипед”<br\>
4) тип предложения по цели высказывания: восклицательные “я тебе клянусь, что брошу курить! “, повествовательные “Я обещаю, что завтра пойду в банк и сниму денег”, побудительные (“хорошо учись, и я куплю тебе велосипед”)

**Могут ли предложенные языковые средства маркировать другие речевые акты? какие? может ли это послужить причиной коммуникативной неудачи? **

Да, побудительные предложения могут быть засчитаны как угроза “учись хорошо, и я отвезу тебя в Испанию” - например, если ребенок думает, что его отвезут и бросят. Или это может быть понято как приказ, а не как обещание поощрить.
Желательное наклонение тоже может вызвать коммуникативную неудачу, потому что оно может быть воспринято несерьезно, как мечты, а не как намерение.

**Есть ли косвенные способы реализации выбранного речевого акта? может ли это послужить причиной коммуникативной неудачи?** 
Я думаю, что например вопрос “Хочешь, я в качестве извинения куплю тебя автомобиль?”. Если человек совсем отчаялся.
Ссылаясь на связь между обещанием и утверждением, можно сказать, что обещание часто в принципе выражается через утверждение, то есть обычное повествовательное предложение, особенно когда в предложении нет слов “обещаю/клянусь”, а просто “Я куплю тебе эту игрушку”.

**Дискурсивные формулы**:<br\>
(В прагматиконе нет обещания, но я подобрала те формулы, которые показались мне подходящими)<br\>
“а вот увидишь”<br\>
возможно, “посмотрим!” (когда обещаешь, а тебе не верят)<br\>

In [1]:
import numpy as np
import pandas as pd

In [2]:
__author__ = 'Chris Potts'


class RSA:
    """Implementation of the core Rational Speech Acts model.

    Parameters
    ----------
    lexicon : `np.array` or `pd.DataFrame`
        Messages along the rows, states along the columns.
    prior : array-like
        Same length as the number of colums in `lexicon`.
    costs : array-like
        Same length as the number of rows in `lexicon`.
    alpha : float
        The temperature parameter. Default: 1.0
    """
    def __init__(self, lexicon, prior, costs, alpha=1.0):
        self.lexicon = lexicon
        self.prior = np.array(prior)
        self.costs = np.array(costs)
        self.alpha = alpha

    def literal_listener(self):
        """Literal listener predictions, which corresponds intuitively
        to truth conditions with priors.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to messages, the columns to states.

        """
        return rownorm(self.lexicon * self.prior)

    def speaker(self):
        """Returns a matrix of pragmatic speaker predictions.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to states, the columns to states.
        """
        lit = self.literal_listener().T
        utilities = self.alpha * (safelog(lit) + self.costs)
        return rownorm(np.exp(utilities))

    def listener(self):
        """Returns a matrix of pragmatic listener predictions.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to messages, the columns to states.
        """
        spk = self.speaker().T
        return rownorm(spk * self.prior)


def rownorm(mat):
    """Row normalization of np.array or pd.DataFrame"""
    return (mat.T / mat.sum(axis=1)).T


def safelog(vals):
    """Silence distracting warnings about log(0)."""
    with np.errstate(divide='ignore'):
        return np.log(vals)


if __name__ == '__main__':
    """Examples"""

    from IPython.display import display


    def display_reference_game(mod):
        d = mod.lexicon.copy()
        d['costs'] = mod.costs
        d.loc['prior'] = list(mod.prior) + [""]
        d.loc['alpha'] = [mod.alpha] + [" "] * mod.lexicon.shape[1]
        display(d)


    # Core lexicon:
    msgs = ['шляпа', 'очки', 'усы']
    states = ['r1', 'r2','r3']
    lex = pd.DataFrame([
        [1.0, 1.0, 0.0],
        [0.0, 0.0, 1.0],
        [0.0, 1.0, 0.0]], index=msgs, columns=states)

# Задание 3

In [3]:
#исходные вероятности
print("="*70 + "\nEven priors and all-0 message costs\n")
basic_mod = RSA(lexicon=lex, prior=[1/3, 1/3, 1/3], costs=[0.0, 0.0, 0.0])

display_reference_game(basic_mod)

print("\nLiteral listener")
display(basic_mod.literal_listener())

print("\nPragmatic speaker")
display(basic_mod.speaker())

print("\nPragmatic listener")
display(basic_mod.listener())

======================================================================
Even priors and all-0 message costs

             r1        r2        r3 costs
шляпа  1.000000         1         0     0
очки   0.000000         0         1     0
усы    0.000000         1         0     0
prior  0.333333  0.333333  0.333333
alpha  1.000000

Literal listener

        r1   r2   r3
шляпа  0.5  0.5  0.0
очки   0.0  0.0  1.0
усы    0.0  1.0  0.0

Pragmatic speaker

       шляпа  очки       усы
r1  1.000000   0.0  0.000000
r2  0.333333   0.0  0.666667
r3  0.000000   1.0  0.000000

Pragmatic listener

         r1    r2   r3
шляпа  0.75  0.25  0.0
очки   0.00  0.00  1.0
усы    0.00  1.00  0.0

Импликатура появляется при стимуле "шляпа", т.к любой другой стимул однозначно определяется. К стимулу "шляпа" относятся как объект r1, так и объект r2, в то же время r2 можно однозначно определить через "усы", и этот стимул будет наиболее информативным для r2. 
Соответственно, прагматический слушатель, учитывая кооперативность говорящего, выберет для стимула "шляпа" r1 как наиболее информативный.

In [4]:
#P(r1) = 0.1, P(r2) = P(r3) = 0.45
print("="*70 + "\nImbalanced priors, all-0 message costs\n")
prior_mod = RSA(lexicon=lex,  prior=[0.1, 0.45, 0.45], costs=[0.0, 0.0, 0.0])

display_reference_game(prior_mod)

print("\nLiteral listener")
display(prior_mod.literal_listener())

print("\nPragmatic speaker")
display(prior_mod.speaker())

print("\nPragmatic listener")
display(prior_mod.listener())

======================================================================
Imbalanced priors, all-0 message costs

        r1    r2    r3 costs
шляпа  1.0     1     0     0
очки   0.0     0     1     0
усы    0.0     1     0     0
prior  0.1  0.45  0.45
alpha  1.0

Literal listener

             r1        r2   r3
шляпа  0.181818  0.818182  0.0
очки   0.000000  0.000000  1.0
усы    0.000000  1.000000  0.0

Pragmatic speaker

    шляпа  очки   усы
r1   1.00   0.0  0.00
r2   0.45   0.0  0.55
r3   0.00   1.0  0.00

Pragmatic listener

             r1        r2   r3
шляпа  0.330579  0.669421  0.0
очки   0.000000  0.000000  1.0
усы    0.000000  1.000000  0.0

Мы видим, что импликатура действительно меняется: поскольку априорная вероятность (prior) того, что говорящий говорит об объекте r1, стала ниже, вероятность того, что прагматический слушатель выберет этот объект, тоже стала значительно ниже. Причем априорная вероятность r1 настолько низкая, что при отсутствии других стимулов его вообще вряд ли будут выбирать в референциальной игре.

# Задание 4

Референциальная игра:
4 программиста: первый пишет на python, второй на c, третий на с и java, четвертый на scala.
Изначально все исходные вероятности равны, alpha = 1

In [5]:
msgs = ['python', 'c', 'java', 'scala']
states = ['r1', 'r2','r3','r4']
lex = pd.DataFrame([
        [1.0, 0.0, 0.0, 0.0],
        [0.0, 1.0, 1.0, 0.0],
        [0.0, 0.0, 1.0, 0.0],
        [0.0, 0.0, 0.0, 1.0]], index=msgs, columns=states)

print("="*70 + "\nEven priors and all-0 message costs\n")
basic_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0])

display_reference_game(basic_mod)

print("\nLiteral listener")
display(basic_mod.literal_listener())

print("\nPragmatic speaker")
display(basic_mod.speaker())

print("\nPragmatic listener")
display(basic_mod.listener())

======================================================================
Even priors and all-0 message costs

          r1    r2    r3    r4 costs
python  1.00     0     0     0     0
c       0.00     1     1     0     0
java    0.00     0     1     0     0
scala   0.00     0     0     1     0
prior   0.25  0.25  0.25  0.25
alpha   1.00

Literal listener

         r1   r2   r3   r4
python  1.0  0.0  0.0  0.0
c       0.0  0.5  0.5  0.0
java    0.0  0.0  1.0  0.0
scala   0.0  0.0  0.0  1.0

Pragmatic speaker

    python         c      java  scala
r1     1.0  0.000000  0.000000    0.0
r2     0.0  1.000000  0.000000    0.0
r3     0.0  0.333333  0.666667    0.0
r4     0.0  0.000000  0.000000    1.0

Pragmatic listener

         r1    r2    r3   r4
python  1.0  0.00  0.00  0.0
c       0.0  0.75  0.25  0.0
java    0.0  0.00  1.00  0.0
scala   0.0  0.00  0.00  1.0

Как видно из таблицы для прагматического слушателя для стимула 'c' вычисляется скалярная импликатура. Так как существуют два программиста, использующих язык си, но при этом один из них также пишет на java, java более информативна для описания третьего программиста. Соответственно, т.к выбор менее информативного варианта подразумевает отрицание более информативного варианта, прагматический слушатель при стимуле 'c' скорее выберет второго программиста.

Изменение вероятностей для прагматического слушающего при изменении параметра alpha = 2

In [6]:
print("="*70 + "\nEven priors and all-0 message costs where alpha = 2")
alpha_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0], alpha=2.0)

display_reference_game(alpha_mod)

print("\nLiteral listener")
display(alpha_mod.literal_listener())

print("\nPragmatic speaker")
display(alpha_mod.speaker())

print("\nPragmatic listener")
display(alpha_mod.listener())

======================================================================
Even priors and all-0 message costs where alpha = 2

          r1    r2    r3    r4 costs
python  1.00     0     0     0     0
c       0.00     1     1     0     0
java    0.00     0     1     0     0
scala   0.00     0     0     1     0
prior   0.25  0.25  0.25  0.25
alpha   2.00

Literal listener

         r1   r2   r3   r4
python  1.0  0.0  0.0  0.0
c       0.0  0.5  0.5  0.0
java    0.0  0.0  1.0  0.0
scala   0.0  0.0  0.0  1.0

Pragmatic speaker

    python    c  java  scala
r1     1.0  0.0   0.0    0.0
r2     0.0  1.0   0.0    0.0
r3     0.0  0.2   0.8    0.0
r4     0.0  0.0   0.0    1.0

Pragmatic listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.833333  0.166667  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Изменение вероятностей для прагматического слушающего при изменении параметра alpha = 5

In [7]:
#повысим ставки
print("="*70 + "\nEven priors and all-0 message costs where alpha = 5")
alpha_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0], alpha=5.0)

display_reference_game(alpha_mod)

print("\nLiteral listener")
display(alpha_mod.literal_listener())

print("\nPragmatic speaker")
display(alpha_mod.speaker())

print("\nPragmatic listener")
display(alpha_mod.listener())

======================================================================
Even priors and all-0 message costs where alpha = 5

          r1    r2    r3    r4 costs
python  1.00     0     0     0     0
c       0.00     1     1     0     0
java    0.00     0     1     0     0
scala   0.00     0     0     1     0
prior   0.25  0.25  0.25  0.25
alpha   5.00

Literal listener

         r1   r2   r3   r4
python  1.0  0.0  0.0  0.0
c       0.0  0.5  0.5  0.0
java    0.0  0.0  1.0  0.0
scala   0.0  0.0  0.0  1.0

Pragmatic speaker

    python         c      java  scala
r1     1.0  0.000000  0.000000    0.0
r2     0.0  1.000000  0.000000    0.0
r3     0.0  0.030303  0.969697    0.0
r4     0.0  0.000000  0.000000    1.0

Pragmatic listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.970588  0.029412  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Изменение вероятностей для прагматического слушающего при изменении параметра alpha = 10

In [8]:
#повысим ставки
print("="*70 + "\nEven priors and all-0 message costs where alpha = 10")
alpha_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0], alpha=10.0)

display_reference_game(alpha_mod)

print("\nLiteral listener")
display(alpha_mod.literal_listener())

print("\nPragmatic speaker")
display(alpha_mod.speaker())

print("\nPragmatic listener")
display(alpha_mod.listener())

======================================================================
Even priors and all-0 message costs where alpha = 10

           r1    r2    r3    r4 costs
python   1.00     0     0     0     0
c        0.00     1     1     0     0
java     0.00     0     1     0     0
scala    0.00     0     0     1     0
prior    0.25  0.25  0.25  0.25
alpha   10.00

Literal listener

         r1   r2   r3   r4
python  1.0  0.0  0.0  0.0
c       0.0  0.5  0.5  0.0
java    0.0  0.0  1.0  0.0
scala   0.0  0.0  0.0  1.0

Pragmatic speaker

    python         c      java  scala
r1     1.0  0.000000  0.000000    0.0
r2     0.0  1.000000  0.000000    0.0
r3     0.0  0.000976  0.999024    0.0
r4     0.0  0.000000  0.000000    1.0

Pragmatic listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.999025  0.000975  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Чем больше параметр alpha, тем тем больше вероятность выбора второго программиста. В случае с alpha = 10 вероятность выбрать второго программиста при стимуле "с" составляет 0,999, что свидетельствует об исчезновении импликатуры. Alpha показывает рациональность стимулов -- соответственно, чем этот параметр выше, тем более "доверчивым" будет слушающий.

Изменение вероятностей для прагматического слушающего при изменении цены высказывания

In [9]:
print("="*70 + "\nEven priors, imbalanced message costs")
cost_most = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[-3.0, -5.0, 0.0, 1.0])

display_reference_game(cost_most)

print("\nLiteral listener")
display(cost_most.literal_listener())

print("\nPragmatic speaker")
display(cost_most.speaker())

print("\nPragmatic listener")
display(cost_most.listener())

======================================================================
Even priors, imbalanced message costs

          r1    r2    r3    r4 costs
python  1.00     0     0     0    -3
c       0.00     1     1     0    -5
java    0.00     0     1     0     0
scala   0.00     0     0     1     1
prior   0.25  0.25  0.25  0.25
alpha   1.00

Literal listener

         r1   r2   r3   r4
python  1.0  0.0  0.0  0.0
c       0.0  0.5  0.5  0.0
java    0.0  0.0  1.0  0.0
scala   0.0  0.0  0.0  1.0

Pragmatic speaker

    python         c      java  scala
r1     1.0  0.000000  0.000000    0.0
r2     0.0  1.000000  0.000000    0.0
r3     0.0  0.003358  0.996642    0.0
r4     0.0  0.000000  0.000000    1.0

Pragmatic listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.996654  0.003346  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Для высказываний, в которых каждый стимул однозачно определен, цена высказывания ничего не меняет при выборе прагматическим слушателем того или иного программиста. Однако при снижении цены стимула "с" его информативность еще больше падает в сравнении с "java", и импликатура практически исчезает, выбор становится однозначным.

In [10]:
print("="*70 + "\nEven priors, imbalanced message costs")
cost_most = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 10.0, 0.0, 0.0])

display_reference_game(cost_most)

print("\nLiteral listener")
display(cost_most.literal_listener())

print("\nPragmatic speaker")
display(cost_most.speaker())

print("\nPragmatic listener")
display(cost_most.listener())

======================================================================
Even priors, imbalanced message costs

          r1    r2    r3    r4 costs
python  1.00     0     0     0     0
c       0.00     1     1     0    10
java    0.00     0     1     0     0
scala   0.00     0     0     1     0
prior   0.25  0.25  0.25  0.25
alpha   1.00

Literal listener

         r1   r2   r3   r4
python  1.0  0.0  0.0  0.0
c       0.0  0.5  0.5  0.0
java    0.0  0.0  1.0  0.0
scala   0.0  0.0  0.0  1.0

Pragmatic speaker

    python         c      java  scala
r1     1.0  0.000000  0.000000    0.0
r2     0.0  1.000000  0.000000    0.0
r3     0.0  0.999909  0.000091    0.0
r4     0.0  0.000000  0.000000    1.0

Pragmatic listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.500023  0.499977  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Если же мы не опускаем, а поднимаем цену стимула "с", то его информативность увеличивается, тем самым увеличивая вероятность выбора второго программиста

Изменение вероятностей для прагматического слушающего при изменении априорных вероятностей

In [11]:
print("="*70 + "\nImbalanced priors, all-0 message costs\n")
prior_mod = RSA(lexicon=lex, prior=[0.1, 0.6, 0.1, 0.1], costs=[0.0, 0.0, 0.0, 0.0])

display_reference_game(prior_mod)

print("\nLiteral listener")
display(prior_mod.literal_listener())

print("\nPragmatic speaker")
display(prior_mod.speaker())

print("\nPragmatic listener")
display(prior_mod.listener())

======================================================================
Imbalanced priors, all-0 message costs

         r1   r2   r3   r4 costs
python  1.0    0    0    0     0
c       0.0    1    1    0     0
java    0.0    0    1    0     0
scala   0.0    0    0    1     0
prior   0.1  0.6  0.1  0.1
alpha   1.0

Literal listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.857143  0.142857  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Pragmatic speaker

    python      c   java  scala
r1     1.0  0.000  0.000    0.0
r2     0.0  1.000  0.000    0.0
r3     0.0  0.125  0.875    0.0
r4     0.0  0.000  0.000    1.0

Pragmatic listener

         r1        r2        r3   r4
python  1.0  0.000000  0.000000  0.0
c       0.0  0.979592  0.020408  0.0
java    0.0  0.000000  1.000000  0.0
scala   0.0  0.000000  0.000000  1.0

Нас интересует увеличение априорной вероятности того, что говорят именно о втором программисте: тем самым мы увеличиваем вероятность выбора именно его при произнесении стимула "с". 
Чем выше будет априорная вероятность второго программиста, тем выше будет вероятность выбрать его при стимуле "с" и тем ниже будет вероятность выбрать третьего, т.к для него есть свой однозначный стимул "java". При достаточно большой априорной вероятности (например, у меня это 0,6 для r2 и 0,1 для r1), импликатура практически исчезает, выбор становится однозначным.